@use "mixin.scss" as *;

/* overlay-styles.css */
.hamburger-overlay {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 48px;
  height: 48px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.hamburger-overlay__line {
  position: absolute;
  left: 11px;
  width: 26px;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.6s;
}

.hamburger-overlay__line:nth-of-type(1) {
  top: 14px;
}
.hamburger-overlay__line:nth-of-type(2) {
  top: 23px;
}
.hamburger-overlay__line:nth-of-type(3) {
  top: 32px;
}

.hamburger-overlay.active .hamburger-overlay__line {
  background-color: #fff;
}

.hamburger-overlay.active .hamburger-overlay__line:nth-of-type(1) {
  transform: translateY(9px) rotate(-45deg);
}
.hamburger-overlay.active .hamburger-overlay__line:nth-of-type(2) {
  opacity: 0;
}
.hamburger-overlay.active .hamburger-overlay__line:nth-of-type(3) {
  transform: translateY(-9px) rotate(45deg);
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s;
  z-index: 900;
}

.nav-overlay.active {
  visibility: visible;
  opacity: 1;
}

.nav-overlay__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.nav-overlay__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-overlay__item {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s;
}

.nav-overlay.active .nav-overlay__item {
  opacity: 1;
  transform: translateY(0);
}

.nav-overlay.active .nav-overlay__item:nth-child(1) {
  transition-delay: 0.1s;
}
.nav-overlay.active .nav-overlay__item:nth-child(2) {
  transition-delay: 0.2s;
}
.nav-overlay.active .nav-overlay__item:nth-child(3) {
  transition-delay: 0.3s;
}
.nav-overlay.active .nav-overlay__item:nth-child(4) {
  transition-delay: 0.4s;
}

.nav-overlay.active .nav-overlay__item:nth-child(5) {
  transition-delay: 0.5s;
}

.nav-overlay__link {
  display: inline-block;
  padding: 20px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-overlay__link:hover {
  color: #4a90e2;
}

/* FV */

.movie_blk {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgb(0, 0, 0, 45%);

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  img {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

/* //FV */

/* about */
.sec_about {
  width: 100%;
  background-color: rgb(0, 0, 0, 90%);
  padding: 140px 0 140px 240px;
  position: relative;

  @include tb {
    padding: 80px 0 80px 100px;
  }

  @include sp {
    padding: 60px 0 60px 20px;
  }

  div {
    width: 398px;
    height: 641px;

    @include sp {
      width: 365px;
      height: 537px;
    }
  }

  img {
    display: block;
    padding-bottom: 32px;
  }

  p {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    line-height: 200%;
    font-weight: bold;
    padding-bottom: 30px;

    @include sp {
      font-size: 12px;
    }
  }
}

.sec_img {
  @include sp {
    width: 50%;
  }
}

.sec_img2 {
  @include sp {
    width: 70%;
  }
}

.left {
  position: absolute;
  top: -160px;
  left: 0px;

  @include tb {
    width: 160px;
  }

  @include sp {
    width: 100px;
  }
}

.right {
  position: absolute;
  top: 40px;
  right: 0px;

  @include tb {
    width: 300px;
    top: 200px;
  }

  @include sp {
    width: 130px;
    top: 450px;
  }
}

.sec_about_02 {
  width: 368px;
  height: 545px;
  padding-left: 30px;

  @include sp {
    width: 290px;
    height: 378px;
  }
}

/* //about */

/* pickup */
.pickup {
  position: relative;

  a {
    position: absolute;
    top: 72%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    @include tb {
      position: absolute;
      top: 68%;
    }

    @include sp {
      width: 200px;
      position: absolute;
      top: 74%;
      left: 50%;
    }
  }

  a:hover {
    opacity: 0.7;
  }
}

.pickup-img {
  width: 100vw;
  padding: 120px 41px;

  display: block;

  @include sp {
    display: none;
  }
}

.pickup-imgsp {
  display: none;
  @include sp {
    width: 100vw;
    padding: 40px;
    display: block;
  }
}

.btn-square-00 {
  background: url(../images/btn.png) center no-repeat;
  padding: 16px 140px;
  color: #ffffff;
  font-size: 24px;

  @include tb {
    background-size: 100%;
    padding: 12px 65px;
    font-size: 16px;
  }

  @include sp {
    background-size: 100%;
    padding: 7px 37px;
    font-size: 14px;
  }
}

/* //pickup */

/* フレーバー */
.swiper {
  padding-top: 32px;
}

.swiper-wrapper {
  /* wrapperのサイズを調整 */
  width: 100vw;
  height: 600px;
  @include sp {
    height: 400px;
  }
}

.swiper-slide {
  width: 100vw;

  @include sp {
    img {
      width: 160px;
    }
  }
}

.swiper-pagination-bullet {
  background-color: #6138ea;
  border-radius: 0;
  width: 30px;
  height: 5px;
}

.swiper-controller {
  padding: 24px;
}

.flabors {
  a {
    display: flex;
    justify-content: center;

    @include sp {
      display: flex;
      justify-content: center;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  a:hover {
    opacity: 0.7;
  }
}

.kzr-img {
  margin-top: 100px;
}

/* //フレーバー */

/*ニュース*/
.news {
  width: 100%;
  background-color: black;
  padding: 80px 187px;

  @include sp {
    padding: 60px 25px;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    height: auto;
  }

  &-container {
    @include sp {
      width: 300px;
    }
  }

  &-link {
    align-items: center; /* 上下中央 */
    display: flex; /* 日付&カテゴリーラベルと記事タイトルの横並び */
    border-bottom: 4px solid #6138ea; /* 記事リンク間の線 */
    padding-top: 40px;

    @include sp {
      display: block; /* 日付&カテゴリーラベルと記事タイトルの横並び解除 */
    }
  }

  &-date {
    color: #ffffff; /* 日付の文字色 */
    font-size: 20px; /* 日付のフォントサイズ */
    font-weight: 400;
    background-color: #6138ea;
    padding: 4px 16px;

    @include sp {
      font-size: 14px;
      padding: 4px;
    }
  }

  &-title {
    color: #ffffff; /* 記事タイトルの文字色 */
    font-size: 16px; /* 記事タイトルのフォントサイズ */
    margin-left: 24px; /* 記事タイトル左の余白 */
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &-a {
    a {
      display: flex;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;

      @include sp {
        width: 300px;
      }
    }
  }
}

.inner {
  margin-inline: auto;
  max-width: 900px;
}
a {
  text-decoration: none;
}

.menu {
  margin-top: 38px;
  position: relative;

  &-dz {
    position: absolute;
    top: -100px;
    left: 48px;

    @include tb {
      display: none;
    }

    @include sp {
      display: none;
    }
  }

  &-dz2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 363px;
    right: 48px;

    @include tb {
      display: none;
    }

    @include sp {
      display: none;
    }
  }

  &-div {
    width: 100vw;
    padding: 240px 328px 192px 328px;
    background: url(../images/menu.png) center no-repeat;

    @include tb {
      background-size: 90%;
      padding: 200px 166px 85px 166px;
    }

    @include sp {
      background-image: url(../images/menusp.png);
      background-size: 100%;
      padding: 194px 0 143px 0;
    }

    h3 {
      display: flex;
      justify-content: center;
      text-align: center;
      line-height: 32px;

      @include sp {
        font-size: 12px;
        line-height: 16px;
      }
    }
    a {
      display: flex;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;

      @include sp {
        width: 300px;
      }
    }
  }
}

.club31 {
  display: block;

  @include sp {
    display: none;
  }
}

.clubsp31 {
  display: none;

  @include sp {
    display: block;
  }
}

.mo31 {
  display: block;

  @include sp {
    display: none;
  }
}

.mosp31 {
  display: none;

  @include sp {
    display: block;
  }
}

.app {
  position: relative;
  width: 100vw;

  &-31club {
    width: 100vw;
    display: flex;
    justify-content: start;

    @include tb {
      flex-direction: column;
    }
  }

  &-31mobileorder {
    padding-top: 40px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;

    @include tb {
      flex-direction: column;
    }
  }

  &-dz {
    position: absolute;
    top: 330px;
    left: 48px;

    @include tb {
      display: none;
    }

    @include sp {
      display: none;
    }
  }
}

.dz-01 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.dz-02 {
  padding-top: 80px;

  @include sp {
    padding-top: 0;
  }
}

.dz-03 {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @include sp {
  }
}

.footer {
  width: 100vw;
  background-color: black;

  &-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 120px;

    @include sp {
      padding: 20px;
      display: flex;
      justify-content: center;
    }
  }

  &-nav {
    a {
      font-size: 40px;
      color: #ffffff;
      @include sp {
        display: none;
      }
    }
  }

  &-app {
    img {
      padding-top: 65px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

.logo {
  padding-top: 20px;
}
